<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="20.8.0" targetFramework="net471" />
  <package id="Aspose.Words" version="20.9.0" targetFramework="net471" />
  <package id="DocX" version="1.7.0" targetFramework="net471" />
  <package id="DynamicLanguageRuntime" version="1.2.3" targetFramework="net471" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.7.4" targetFramework="net471" />
  <package id="IronPython" version="2.7.10" targetFramework="net471" />
  <package id="IronWebScraper" version="4.0.4.3" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net471" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net471" />
  <package id="Spire.Doc" version="8.8.2" targetFramework="net471" />
  <package id="Spire.PDF" version="6.9.0" targetFramework="net471" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net471" />
  <package id="Syncfusion.Compression.Net.Core" version="18.2.0.56" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="18.2.0.56" targetFramework="net471" />
  <package id="Syncfusion.Pdf.Net.Core" version="18.2.0.56" targetFramework="net471" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net471" />
</packages>